name: tests

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    paths:
      - "**.tex"
    branches: [ master ]
  pull_request:
    paths:
      - "**.tex"
      - "**.yml"
    branches: [ master ]
  

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build_latex"
  build_and_run_tests:
    name: Build and run tests
    runs-on: ubuntu-latest
    container:
      image: xucheng/texlive-small:latest
      # This setting works for GitHub but doesn't work for the local act version yet
      # To still be able to run the tests locally, I will configure the shells
      # on a per run basis
    defaults:
      run:
        shell: sh
    steps:
      - name: Set up repo
        uses: actions/checkout@v2
      - name: Build test files
        run: |
          python3 tests/generate_all_options.py --ci-mode
        shell: sh
      - name: Install missing packages
        run: |
          tlmgr install silence
          tlmgr install appendixnumberbeamer
        shell: sh
      - name: Run tests
        working-directory: tests/tmp/
        run: |
         latexmk -pdf -file-line-error -interaction=nonstopmode *.tex
        shell: sh
      - name: Build demo document
        run: |
          latexmk -pdf -file-line-error -interaction=nonstopmode demo.tex
        shell: sh
      - name: Upload demo document as artifact
        uses: actions/upload-artifact@v2
        with:
          name: demo.pdf
          path: demo.pdf

  build_docs:
    name: Build documentation
    runs-on: ubuntu-latest
    needs: build_and_run_tests
    steps:
      - name: Set up repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - name: Download demo.pdf
        uses: actions/download-artifact@v2
        with: 
          name: demo.pdf
      - name: Build images for docs
        run: |
          mkdir -p demo-screenshots
          sudo mv /etc/ImageMagick-6/policy.xml /etc/ImageMagick-6/policy.xmlout
          convert -density 500 demo.pdf[0] demo-screenshots/example00.png
          convert -density 500 demo.pdf[4] demo-screenshots/example01.png
          convert -density 500 demo.pdf[12] demo-screenshots/example02.png
      - name: Move to docs folder
        run: |
          mkdir -p docs
          mv demo-screenshots docs/
          mv demo.pdf docs/demo-screenshots
      - name: Upload Documentation to wiki
        uses: kai-tub/external-repo-sync-action@master
        with:
          source-directory: "docs/"
          include-pattern: "*.png *.pdf "
          commit-message: "Updating LaTeX documentation"
        env:
          GH_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
